*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}
body{
  background-color: white;
}
/*header styling*/
header{
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0px 120px;
}
.logo{
  width: 140px;
}
nav{
  width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
nav a:hover{
  color: #0866FF;
}
.sign-in{

    background-color: #0866FF;
    color: white;
    font-size: 15px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
}
.sign-in:hover{
    background-color: white;
    color: #0866FF;
    border: 2px solid #0866FF;
    border-radius: 10px;
}

/*Hero section*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}
body {
  background-color: #F8F8F8;
}
/*header styling*/
header{
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0px 120px;
}
.logo{
  width: 140px;
}
nav{
  width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
nav a:hover{
  color: #0866FF;
}
.sign-in{

    background-color: #0866FF;
    color: white;
    font-size: 15px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
}
.sign-in:hover{
    background-color: white;
    color: #0866FF;
    border: 2px solid #0866FF;
    border-radius: 10px;
}

/*Hero styling*/
#hero{
  width: 100%;
  padding: 50px 120px 100px 120px;
  display: flex;
  flex-direction: column;
}
.text-preview{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
.text-preview h1{
  font-size: 40px;
  color: #0866FF;
}
.text-preview p{
  font-size: 18px;
}
.team{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}
.team h1{
  font-size: 40px;
  text-align: center;
}
.team-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.team-preview img{
  width: 300px;
  height: 300px;
  margin-bottom: 5px;
  border-radius: 10px;
}
/*footer styling*/
footer{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  gap: 50px;
}
.footer-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px;
}
.logo-container{
  margin-top: -40px;
  width: 350px;
  font-size: 12px;
  line-height: 16px;
}
.details-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
  padding-top: 10px;
}
.quicklink-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.quicklink-container a{
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.quicklink-container a:hover{
  color: #0866FF;
}
.contactus-container h4{
  margin-bottom: 10px;
}
.contactus-container img{
  height: 30px;
  width: 30px;
}
.copyright{
  font-size: 12px;
}

/*Responsiveness*/
/* X-large devices (large desktops, less than 1400px*/
@media(max-width: 1400px){

}
/* Large devices (desktops, less than 1200px) */
@media(max-width: 1200px){

}
/* Medium devices (tablet, less than 992px)*/
@media(max-width: 992px){
  nav a{
    font-size: 14px;
  }
  header{
    padding: 0px 80px;
  } 
  
  .footer-container{
    padding: 0px 80px;
  }
  .logo-container{
    margin-top: -40px;
    width: 300px;
    font-size: 11px;
  }
  .quicklink-container a{
    font-size: 11px;
  }
  .contactus-container img{
    height: 20px;
    width: 20px;
  }
  .copyright{
    font-size: 11px;
  }
  
}
/* Small devices (landscape phones, less than 768px)*/
@media(max-width: 768px){
  .logo{
    width: 100px;
  }
  nav{
    width: 250px;
  }
  nav a{
    font-size: 11px;
  }
  header{
    padding: 0px 50px;
  }
  .sign-in{
    font-size: 11px;
    width: 60px;
    height: 30px;
  }
  footer{
    height: 250px;
  }
  .footer-container{
    padding: 0px 50px;
  }
  .logo-container{
    margin-top: 0px;
    width: 200px;
    font-size: 10px;
  }
  .quicklink-container a{
    font-size: 10px;
  }
  .details-container h4{
    font-size: 11px;
  }
  .contactus-container img{
    height: 16px;
    width: 16px;
  }
  .copyright{
    font-size: 10px;
  }
}

/* X-small devices (potrait phones, less than 576px) */
@media (max-width: 576px){
  
  .logo{
    width: 90px;
  }
  nav{
    width: 150px;
  }
  nav a{
    font-size: 9px;
  }
  header{
    padding: 0px 15px;
  }
  .sign-in{
    font-size: 9px;
    width: 45px;
    height: 23px;

  }
  footer{
    height: 250px;
  }
  .footer-container{
    padding: 0px 15px;
    justify-content: space-evenly;
  }
  .logo-container{
    margin-top: 0px;
    width: 150px;
    font-size: 8px;
  }
  .quicklink-container a{
    font-size: 8px;
  }
  .details-container h4{
    font-size: 8px;
  }
  .contactus-container img{
    height: 11px;
    width: 11px;
  }
  .copyright{
    font-size: 8px;
  }
}