*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}
body{
  background-color: white;
}
/*header styling*/
header{
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0px 120px;
}
.logo{
  width: 140px;
}
nav{
  width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
nav a:hover{
  color: #0866FF;
}
.sign-in{

    background-color: #0866FF;
    color: white;
    font-size: 15px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
}
.sign-in:hover{
    background-color: white;
    color: #0866FF;
    border: 2px solid #0866FF;
    border-radius: 10px;
}

/*Hero styling*/
#hero{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  padding: 0px 120px;
}
#hero h1{
  font-size: 60px;
  font-weight: 700;
}
#hero p{
  font-size: 18px;
}
#hero span{
  color: #0866FF;
}
#hero button{
  background-color: #0866FF;
  width: 200px;
  height: 50px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10px;
}
#hero button:hover{
  background-color: white;
  color: #0866FF;
  border: 2px solid #0866FF;
}

/*Assistance styling*/
#assistance{
  height: 500px;
  display: flex;
  flex-direction: row;
  background-color: #FFFBE9;
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px;
}
.assitance-container h3{
  padding-bottom: 15px;
  font-size: 40px;
}
.assitance-container p{
  font-size: 18px;
}
.image{
  width: 250px;
}

/*Platform styling*/
#platform{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 0px 120px;
}
#platform h1{
  color: #0866FF;
  font-size: 40px;
}
#platform p{
  color: #868687;
  font-size: 18px;
}

/*Features Section*/
#features div h2{
  text-align: center;
  padding-bottom: 10px;
  color: black;
  font-size: 40px;
  margin: 24px;
  padding-inline: 120px;
}

#features table{
  border-collapse: collapse;
  border-radius: 10px;
  background-color: white;
  margin: 0px auto;
}

#features table td{
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
  height: 60px;
  width: 40%;
  font-size: 18px;
  font-weight: bold;
}

#features table tr:nth-child(even){
  background-color: #ebf3fe;
}

/*Sub Features styling*/
#sub-features{
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  gap: 80px;
}
.first-container,.second-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 120px;
}
.image2{
  height: 250px;
  width: 250px;
}
.info-container{
  width: 500px;
}
.info-container p{
  font-size: 18px;
}
.info-container h3{
  padding-bottom: 10px;
  font-size: 40px;
}
.third-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.third-container h2{
  font-size: 40px;
}
.third-container p{
  font-size: 18px;
}
.third-container span{
  color: #0866FF;
}
.third-container img{
  width: 100%;
  padding: 0px 120px;
}
.fourth-container{
  background-color: #FFFBE9;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 120px;
}
.fourth-container button{
  margin-top: 20px;
  background-color: #0866FF;
  width: 150px;
  height: 50px;
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10px;
}
.fourth-container button:hover{
  background-color: white;
  color: #0866FF;
  border: 2px solid #0866FF;
}

/*footer styling*/
footer{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  gap: 50px;
}
.footer-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px;
}
.logo-container{
  margin-top: -40px;
  width: 350px;
  font-size: 12px;
  line-height: 16px;
}
.details-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
  padding-top: 10px;
}
.quicklink-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.quicklink-container a{
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.quicklink-container a:hover{
  color: #0866FF;
}
.contactus-container h4{
  margin-bottom: 10px;
}
.contactus-container img{
  height: 30px;
  width: 30px;
}
.copyright{
  font-size: 12px;
}

/*Responsiveness*/
/* X-large devices (large desktops, less than 1400px*/
@media(max-width: 1400px){

}
/* Large devices (desktops, less than 1200px) */
@media(max-width: 1200px){

}
/* Medium devices (tablet, less than 992px)*/
@media(max-width: 992px){
  nav a{
    font-size: 14px;
  }
  header, #hero, #assistance, #platform{
    padding: 0px 80px;
  }
  #hero h1{
    font-size: 45px;
  }
  #hero p{
    font-size: 15px;
  }
  .assitance-container h3{
    font-size: 25px;
  }
  .assitance-container p{
    font-size: 15px;
  }
  .image{
    width: 150px;
  }
  #platform h1{
    font-size: 25px;
  }
  #platform p{
    font-size: 15px;
  }
  #features div h2{
    font-size: 25px;
    padding-inline: 80px;
  }
  
  #features table td{
    font-size: 15px;
  }
  .first-container, .second-container, .fourth-container{
    padding: 0px 80px;
  }
  .image2{
    height: 200px;
    width: 200px;
  }
  .info-container{
    width: 350px;
  }
  .info-container p{
    font-size: 15px;
  }
  .info-container h3{
    font-size: 25px;
  }
  .third-container h2{
    font-size: 25px;
  }
  .third-container p{
    font-size: 15px;
  }
  .third-container img{
    padding: 0px 80px;
  }
  .footer-container{
    padding: 0px 80px;
  }
  .logo-container{
    margin-top: -40px;
    width: 300px;
    font-size: 11px;
  }
  .quicklink-container a{
    font-size: 11px;
  }
  .contactus-container img{
    height: 20px;
    width: 20px;
  }
  .copyright{
    font-size: 11px;
  }
  
}
/* Small devices (landscape phones, less than 768px)*/
@media(max-width: 768px){
  .logo{
    width: 100px;
  }
  nav{
    width: 250px;
  }
  nav a{
    font-size: 11px;
  }
  header, #hero, #assistance, #platform{
    padding: 0px 50px;
  }
  .sign-in{
    font-size: 11px;
    width: 60px;
    height: 30px;
  }
  #hero{
    height: 400px;
  }
  #hero h1{
    font-size: 40px;
  }
  #hero p{
    font-size: 13px;
  }
  #hero button{
    width: 180px;
    height: 40px;
    font-size: 13px;
  }
  #assistance{
    height: 300px;
  }
  .assitance-container h3{
    font-size: 23px;
  }
  .assitance-container p{
    font-size: 13px;
  }
  .image{
    width: 150px;
  }
  #platform{
    height: 200px;
    gap: 0px;
  }
  #platform h1{
    font-size: 23px;
  }
  #platform p{
    font-size: 13px;
  }
  #features div h2{
    font-size: 23px;
    padding-inline: 50px;
  }
  
  #features table td{
    font-size: 13px;
    padding: 0px;
    height: 50px;
  }
  #sub-features{
    padding-top: 60px;
    gap: 65px;
  }
  .first-container, .second-container, .fourth-container{
    padding: 0px 50px;
  }
  .image2{
    height: 150px;
    width: 150px;
  }
  .info-container{
    width: 300px;
  }
  .info-container p{
    font-size: 13px;
  }
  .info-container h3{
    font-size: 23px;
  }
  .third-container h2{
    font-size: 23px;
  }
  .third-container p{
    font-size: 13px;
  }
  .third-container img{
    padding: 0px 50px;
  }
  .fourth-container button{
    width: 130px;
    height: 40px;
    font-size: 13px;
  }
  footer{
    height: 250px;
  }
  .footer-container{
    padding: 0px 50px;
  }
  .logo-container{
    margin-top: 0px;
    width: 200px;
    font-size: 10px;
  }
  .quicklink-container a{
    font-size: 10px;
  }
  .details-container h4{
    font-size: 11px;
  }
  .contactus-container img{
    height: 16px;
    width: 16px;
  }
  .copyright{
    font-size: 10px;
  }
}

/* X-small devices (potrait phones, less than 576px) */
@media (max-width: 576px){
  
  .logo{
    width: 90px;
  }
  nav{
    width: 150px;
  }
  nav a{
    font-size: 9px;
  }
  header, #hero, #assistance, #platform{
    padding: 0px 15px;
  }
  .sign-in{
    font-size: 9px;
    width: 45px;
    height: 23px;

  }
  #hero{
    height: 300px;
  }
  #hero h1{
    font-size: 25px;
  }
  #hero p{
    font-size: 11px;
  }
  #hero button{
    width: 160px;
    height: 30px;
    font-size: 11px;
  }
  #assistance{
    height: 300px;
    justify-content: space-evenly;
  }
  .assitance-container h3{
    font-size: 18px;
  }
  .assitance-container p{
    font-size: 11px;
  }
  .image{
    width: 100px;
  }
  #platform{
    height: 200px;
    gap: 0px;
  }
  #platform h1{
    font-size: 18px;
  }
  #platform p{
    font-size: 11px;
  }
  #features div h2{
    font-size: 18px;
    padding-inline: 15px;
  }
  #features table{
    padding: 0px 15px;
  }
  #features table td{
    font-size: 11px;
    padding: 0px;
    height: 50px;
    width: 100px;
  }
  .first-container, .second-container, .fourth-container{
    padding: 0px 15px;
    justify-content: space-evenly;
  }
  .image2{
    height: 100px;
    width: 100px;
  }
  .info-container{
    width: 200px;
  }
  .info-container p{
    font-size: 8px;
  }
  .info-container h3{
    font-size: 11px;
  }
  .third-container h2{
    font-size: 11px;
  }
  .third-container p{
    font-size: 8px;
  }
  .third-container img{
    padding: 0px 15px;
  }
  .fourth-container button{
    width: 100px;
    height: 40px;
    font-size: 11px;
  }
  footer{
    height: 250px;
  }
  .footer-container{
    padding: 0px 15px;
    justify-content: space-evenly;
  }
  .logo-container{
    margin-top: 0px;
    width: 150px;
    font-size: 8px;
  }
  .quicklink-container a{
    font-size: 8px;
  }
  .details-container h4{
    font-size: 8px;
  }
  .contactus-container img{
    height: 11px;
    width: 11px;
  }
  .copyright{
    font-size: 8px;
  }
}
