*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}
body{
  background-color: white;
  padding-bottom: 50px;
}
/*header styling*/
header{
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0px 120px;
}
.logo{
  width: 140px;
}
nav{
  width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav a{
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}
nav a:hover{
  color: #0866FF;
}
.sign-in{
  background-color: #0866FF;
  color: white;
  font-size: 15px;
  font-weight: 700;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
}
.sign-in:hover{
  background-color: white;
  color: #0866FF;
  border: 2px solid #0866FF;
  border-radius: 10px;
}

.form{
  margin: 30px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FEFCFF;;
}
.body{
  width: 100%;
  padding-top: 20px;
}
.body h1{
  font-size: 30px;
  color: black;
  font-weight: 700;
  text-align: center;
}

.google{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 10px;
  background-color: #F5F5F5;
  border: 16px;
  border-radius: 16px;
  width: 100%;
  height: 55px;
  color: black;
}
.google img{
  width: 20px;
  height: 37px;
  object-fit: contain;
  position: relative;
  overflow: hidden;
  margin-bottom: 8px;
  margin-top: 8px;
}
.google p{
  display: flex;
  flex-direction: row;
  font-size: 18px;
  color: #352B3A;
  font-weight: 400;
}

/* form*/
.form-container {
  background-color: #FEFCFF;
  display: flex;
  flex-direction: column;
}

.form-container h4{
  text-align: center;
  color: #858088;
  font-weight: 400;
  margin-top: 20px;
}

label {
  display: block;
  font-size: 17px;
}

input[type="email"],
input[type="password"] {
  width: 330px;
  height: 50px;
  border-radius: 8px;
  margin-top: 8px;
  background-color: #F5F5F5;
  border: none;
  padding: 20px;
}
input[type="email"]:hover, input[type="password"]:hover {
  background-color: #d3d9de;
}
.form-actions {
  text-align: center;
}

.button {
  background-color: #0866FF;
  color: white;
  padding: 10px;
  margin-top: 10px;
  width: 330px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.button:hover{
  background-color: white;
  color: #0866FF;
  border: 2px solid #0866FF
}
.form-links {
  text-align: center;
  margin-top: 10px;
}

.form-links h6{
  color: #858088;
  font-size: 15px;
  font-weight: 400;
}

.form-links a {
  color: #0866FF;
  text-decoration: none;
  margin: 0 10px;
}

.form-links a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* X-large devices (large desktops, less than 1400px*/
@media(max-width: 1400px){

}
/* Large devices (desktops, less than 1200px) */
@media(max-width: 1200px){

}
/* Medium devices (tablet, less than 992px)*/
@media(max-width: 992px){
  nav a{
    font-size: 14px;
  }
  header{
    padding: 0px 80px;
  } 
  .form{
    margin: 30px 80px;
  }
  
}
/* Small devices (landscape phones, less than 768px)*/
@media(max-width: 768px){
  .logo{
    width: 100px;
  }
  nav{
    width: 250px;
  }
  nav a{
    font-size: 11px;
  }
  header{
    padding: 0px 50px;
  }
  .sign-in{
    font-size: 11px;
    width: 60px;
    height: 30px;
    text-align: center;
  }
  .form{
    margin: 30px 50px;
  }
}

/* X-small devices (potrait phones, less than 576px) */
@media (max-width: 576px){
  
  .logo{
    width: 90px;
  }
  nav{
    width: 150px;
  }
  nav a{
    font-size: 9px;
  }
  header{
    padding: 0px 15px;
  }
  .sign-in{
    font-size: 9px;
    width: 45px;
    height: 23px;
  }
  .form{
    margin: 30px 15px;
  }
  .body h1{
    font-size: 20px;
  }
  .form-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .google{
    width: 250px;
  }
  .google p{
    font-size: 16px;
  }
  .google img{
    width: 18px;
  }
  label {
    font-size: 15px;
  }
  input[type="email"],
  input[type="password"] {
    max-width: 250px;
  }
  .button {
    max-width: 250px;
  }
  .form-links h6{
    font-size: 13px;
  }
}