* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

body {
  background-color: white;
}

/*header styling*/
header {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0px 120px;
}

.logo {
  width: 140px;
}

nav {
  width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a{

  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

nav a:hover {
  color: #0866FF;
}

.sign-in {
  background-color: #0866FF;
  color: white;
  font-size: 15px;
  font-weight: 700;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
}

.sign-in:hover {
  background-color: white;
  color: #0866FF;
  border: 2px solid #0866FF;
  border-radius: 10px;
}
/* css for body form */

.login-container {
  margin: 0px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  background-color: #FEFCFF;
  border-radius: 10px;
}
.welcome-section{
  text-align: center;
}
.welcome-section h1 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: black;
}

p {
  color: #868687;
  margin-top: 15px;
  font-size: 15px;
}

#or {
  text-align: center;
  color: #858088;
  font-weight: 400;
}

.google-login {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
  width: 330px;
  height: 55px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.google-login:hover {
  cursor: pointer;
  background-color: #d3d9de;
}

.google-login img {
  height: 23px;
}

.google-login p {
  font-size: 18px;
  color: #352B3A;
  font-weight: 400;
  text-align: center;
  margin: auto 0px;
}

/* form */
.login-form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form label {
  display: block;
  font-size: 18px;
}

input[type="email"], input[type="password"] {
  width: 330px;
  height: 50px;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 10px;
  background-color: #F5F5F5;
  border: none;
  padding: 20px;
}

input[type="email"]:hover, input[type="password"]:hover {
  background-color: #d3d9de;
}

input[type="email"]:focus, input[type="password"]:focus {
  border-color: #ccc;
  outline: none;
}

#forgot {
  display: flex;
  flex-direction: column;
}

.forgot-password {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0px;
  text-decoration: none;
  color: #868687;
}

.forgot-password:hover {
  cursor: pointer;
  color: #0866FF;
  text-decoration: underline;
}

#sig {
  background-color: #0866FF;
  color: white;
  padding: 10px;
  width: 330px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
#sig:hover{
  background-color: white;
  color: #0866FF;
  border: 2px solid #0866FF
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

.register a {
  color: #0866FF;
  text-decoration: none;
  margin: 0 10px;
}

.register a:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* X-large devices (large desktops, less than 1400px*/
@media(max-width: 1400px){

}
/* Large devices (desktops, less than 1200px) */
@media(max-width: 1200px){

}
/* Medium devices (tablet, less than 992px)*/
@media(max-width: 992px){
  nav a{
    font-size: 14px;
  }
  header{
    padding: 0px 80px;
  }
  .login-container {
    margin: 0px 80px;
  }
}
/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {
  .logo{
    width: 100px;
  }
  nav{
    width: 250px;
  }
  nav a{
    font-size: 11px;
  }
  header{
    padding: 0px 50px;
  }
  .sign-in{
    font-size: 11px;
    width: 60px;
    height: 30px;
  }
  .login-container {
    margin: 0px 50px;
  }

  #or {
    padding-left: 0;
    text-align: center;
  }
  
}
/* X-small devices (potrait phones, less than 576px) */
@media (max-width: 576px){
  
  .logo{
    width: 90px;
  }
  nav{
    width: 150px;
  }
  nav a{
    font-size: 9px;
  }
  header{
    padding: 0px 15px;
  }
  .sign-in{
    font-size: 9px;
    width: 45px;
    height: 23px;
  }
  .login-container {
    margin: 0px 15px;
  }
  .welcome-section h1 {
    font-size: 20px;
  }
  p {
    font-size: 13px;
  }
  #box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .google-login {
    width: 250px;
  }
  .google-login img {
    height: 20px;
  }
  
  .google-login p {
    font-size: 16px;
  }
  .login-form label {
    font-size: 15px;
  }
  
  input[type="email"], input[type="password"] {
    width: 250px;
  }
  #sig {
    width: 250px;
  }
}