* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

body {
  background-color: #f8f8f8;
}

/*header styling*/
header {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  position: relative;
}

.logo {
  width: 140px;
}

nav {
  width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
}

nav a:hover {
  color: #0866FF;
}

.sign-in {
  background-color: #0866FF;
  color: white;
  font-size: 15px;
  font-weight: 700;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
}

.sign-in:hover {
  background-color: white;
  color: #0866FF;
  border: 2px solid #0866FF;
  border-radius: 10px;
}

/* css for body form */

.login-container {
  height: 90%;
  width: 30%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: #FEFCFF;
  border-radius: 10px;
}

.welcome-section h1 {
  padding-left: 20px;
}

p {
  color: #868687;
  margin-top: 20px;
}

#or {
  padding-left: 150px;
  font-size: 12px;
}

.google-login {
  display: flex;
  margin-top: 40px;
  gap: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
  width: 330px;
  height: 55px;
}

.google-login:hover {
  cursor: pointer;
  background-color: #d3d9de;
}

.google-login img {
  height: 23px;
  margin-top: 17px;
  margin-left: 30px;
}

.google-login p {
  font-size: 18px;
}

/* form */
.login-form {
  margin-top: 30px;
}

.login-form label {
  display: block;
  font: 20px;
}

input[type="email"], input[type="password"] {
  width: 330px;
  height: 50px;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 10px;
  background-color: #F5F5F5;
  border: none;
  padding: 20px;
}

input[type="password"]:hover {
  background-color: #d3d9de;
}

input[type="email"]:hover {
  background-color: #d3d9de;
}

input[type="email"]:focus, input[type="password"]:focus {
  border-color: #ccc;
  outline: none;
}

#forgot {
  display: flex;
  flex-direction: column;
}

.forgot-password {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  text-decoration: none;
  color: #868687;
}

.forgot-password:hover {
  cursor: pointer;
  color: #0866FF;
}

#sig {
  background-color: #0866FF;
  color: white;
  height: 42px;
  border: none;
  border-radius: 8px;
}

#sig:hover {
  cursor: pointer;
  background-color: #1652b3;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.register a {
  text-decoration: none;
  padding-left: 5px;
}

.register a:hover {
  cursor: pointer;
  color: #1652b3;
}

/* Media Queries */

@media (max-width: 1024px) {
  header {
    height: auto;
    padding: 20px;
    flex-direction: column;
  }

  nav, .sign-in {
    display: none;
  }

  header:hover nav, header:hover .sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-container {
    width: 50%;
    padding: 20px;
  }

  .google-login, input[type="email"], input[type="password"] {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .login-container {
    width: 70%;
  }

  .google-login, input[type="email"], input[type="password"] {
    width: 95%;
  }

  #or {
    padding-left: 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  nav a {
    margin: 5px 0;
  }

  .sign-in {
    width: 90%;
    margin-top: 10px;
  }

  .login-container {
    width: 90%;
  }

  .google-login, input[type="email"], input[type="password"] {
    width: 100%;
  }

  #or {
    padding-left: 0;
    text-align: center;
  }
}
