* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}
body {
  background-color: #F8F8F8;
}
/*header styling*/
header{
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0px 120px;
}
.logo{
  width: 140px;
}
nav{
  width: 290px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
nav a:hover{
  color: #0866FF;
}
.sign-in{

    background-color: #0866FF;
    color: white;
    font-size: 15px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
}
.sign-in:hover{
    background-color: white;
    color: #0866FF;
    border: 2px solid #0866FF;
    border-radius: 10px;
}

/*Hero styling*/
h1 {
  text-align: center;
  font-size: 40px;
  color: #121212;
  padding-top: 40px;
}
h1 span {
  color: #0866ff;
}

#hero p {
  text-align: center;
  color: #808080;
  margin-top: 15px;
  font-size: 18px;
  margin-bottom: 20px;
}

/*SubHero Styling*/
#subhero{
  display: flex;
  justify-content: center;
  margin-block: 50px;
}
.hero-container{
  margin-inline: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.first-layer{
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  gap: 10px;
  background-color: #ebf3fe;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.output{
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-left: 20px;
}
.word-features{
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
}
.summary-strength{
  width: 50%;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.output p, .summary-strength p{
  font-weight: bold;
  color: black;
  font-size: 18px;
}
.Strength{
  width: 300px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-evenly;
}
.word-features p, .Strength p{
  font-size: 16px;
  color: #808080;
}
.word-features p:hover, .Strength p:hover{
  text-decoration: underline;
  color: #0866FF;
  cursor: pointer;
}
.second-layer{
  display: flex;
  flex-direction: row;
  height: 400px;
}
.paste-field{
  width: 50%;
  position: relative;
}
.summary-field{
  width: 50%;
  border-left: 1px solid #808080;
  border-top-left-radius: 10px;
  border-bottom-left-radius: none;
}
textarea{
  width: 100%;
  height: 100%;
  border: none;
  padding: 20px;
  resize: none;
}
textarea::placeholder{
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
  color: #A3A0A0;

}
.position-div{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #868687;
  background-color: #F8F8F8;
  border-radius: 10px;
  width: 250px;
  position: absolute;
  top: 30%;
  left: 30%;
  right: 30%;
}
.position-div:hover{
  cursor: pointer;
  background-color: #a19e9e2a;
}
.position-div p{
  font-size: 15px;
}
#file-input{
  width: 87px;
}
.third-layer{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 20px;
  margin-top: 20px;
  color: #868687;
  font-size: 18px;
}
.words{
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}
.words button{
  margin-right: 30px;
  background-color: #0866FF;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}
.words button:hover{
  color: #0866FF;
  border: 2px solid #0866FF;
  background-color: white;
  cursor: pointer;
}
.word-count{
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
}
.icons{
  height: 30px;
  width: 30px;
}
.icons:hover{
  background-color: #0867ff80;
  cursor: pointer;
}
.icon-container{
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/*footer styling*/
footer{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  gap: 50px;
}
.footer-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px;
}
.logo-container{
  margin-top: -40px;
  width: 350px;
  font-size: 12px;
  line-height: 16px;
}
.details-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 40%;
  padding-top: 10px;
}
.quicklink-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.quicklink-container a{
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.quicklink-container a:hover{
  color: #0866FF;
}
.contactus-container h4{
  margin-bottom: 10px;
}
.contactus-container img{
  height: 30px;
  width: 30px;
}
.copyright{
  font-size: 12px;
}

/*Responsiveness*/
/* X-large devices (large desktops, less than 1400px*/
@media(max-width: 1400px){

}
/* Large devices (desktops, less than 1200px) */
@media(max-width: 1200px){
  .position-div{
    top: 30%;
    left: 20%;
    right: 20%;
  }
}
/* Medium devices (tablet, less than 992px)*/
@media(max-width: 992px){
  nav a{
    font-size: 14px;
  }
  header{
    padding: 0px 80px;
  }
  h1 {
    font-size: 30px;
    padding-top: 40px;
  }
  #hero p {
    font-size: 15px;
  }
  .hero-container{
    margin-inline: 80px;
  }
  .first-layer{
    height: 50px;
    padding: 5px;
    gap: 0px;
  }
  .output{
    width: 50%;
    gap: px;
    padding-left: 10px;
  }
  .word-features{
    width: 150px;
  }
  .summary-strength{
    width: 50%;
    gap: px;
  }
  .output p, .summary-strength p{
    font-size: 13px;
  }
  .Strength{
    width: 150px;
  }
  .word-features p, .Strength p{
    font-size: 11px;
  }
  textarea::placeholder{
    padding-top: 20px;
    font-size: 13px;
  }
  .position-div{
    padding: 10px;
    gap: 10px;
    width: 200px;
    top: 30%;
    left: 25%;
    right: 25%;
  }
  .position-div p{
    font-size: 13px;
  }
  .third-layer{
    gap: 10px;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 13px;
  }
  .words button{
    margin-right: 20px;
    padding: 6px 15px;
    font-size: 13px;
  }
  .icons{
    height: 25px;
    width: 25px;
  }
  .icon-container{
    width: 300px;
  }
  .footer-container{
    padding: 0px 80px;
  }
  .logo-container{
    margin-top: -40px;
    width: 300px;
    font-size: 11px;
  }
  .quicklink-container a{
    font-size: 11px;
  }
  .contactus-container img{
    height: 20px;
    width: 20px;
  }
  .copyright{
    font-size: 11px;
  }
  
}
/* Small devices (landscape phones, less than 768px)*/
@media(max-width: 768px){
  .logo{
    width: 100px;
  }
  nav{
    width: 250px;
  }
  nav a{
    font-size: 11px;
  }
  header{
    padding: 0px 50px;
  }
  .sign-in{
    font-size: 11px;
    width: 60px;
    height: 30px;
  }
  #hero{
    padding: 0px 50px;
  }
  h1 {
    font-size: 25px;
    padding-top: 30px;
  }
  #hero p {
    font-size: 13px;
  }
  .hero-container{
    margin-inline: 50px;
  }
  .first-layer{
    height: 45px;
    padding: 5px;
    gap: 0px;
  }
  .output{
    width: 50%;
    gap: 5px;
    padding-left: 10px;
  }
  .word-features{
    width: 120px;
  }
  .summary-strength{
    width: 50%;
    gap: 5px;
  }
  .output p, .summary-strength p{
    font-size: 11px;
  }
  .Strength{
    width: 120px;
  }
  .word-features p, .Strength p{
    font-size: 9px;
  }
  textarea::placeholder{
    padding-top: 20px;
    font-size: 11px;
  }
  .position-div{
    padding: 10px;
    gap: 10px;
    width: 150px;
    top: 30%;
    left: 25%;
    right: 25%;
  }
  .position-div p{
    font-size: 11px;
  }
  .third-layer{
    gap: 10px;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 11px;
  }
  .words button{
    margin-right: 20px;
    padding: 6px 15px;
    font-size: 11px;
  }
  .icons{
    height: 20px;
    width: 20px;
  }
  .icon-container{
    width: 250px;
  }
  footer{
    height: 250px;
  }
  .footer-container{
    padding: 0px 50px;
  }
  .logo-container{
    margin-top: 0px;
    width: 200px;
    font-size: 10px;
  }
  .quicklink-container a{
    font-size: 10px;
  }
  .details-container h4{
    font-size: 11px;
  }
  .contactus-container img{
    height: 16px;
    width: 16px;
  }
  .copyright{
    font-size: 10px;
  }
}

/* X-small devices (potrait phones, less than 576px) */
@media (max-width: 576px){
  
  .logo{
    width: 90px;
  }
  nav{
    width: 150px;
  }
  nav a{
    font-size: 9px;
  }
  header{
    padding: 0px 15px;
  }
  .sign-in{
    font-size: 9px;
    width: 45px;
    height: 23px;
  }
  #hero{
    padding: 0px 15px;
  }
  h1 {
    font-size: 20px;
    padding-top: 30px;
  }
  #hero p {
    font-size: 11px;
  }
  .hero-container{
    margin-inline: 15px;
  }
  .first-layer{
    height: 45px;
    padding: 5px;
    gap: 0px;
  }
  .output{
    width: 50%;
    gap: 0px;
    padding-left: 7px;
  }
  .word-features{
    width: 100px;
  }
  .summary-strength{
    width: 50%;
    gap: 0px;
  }
  .output p, .summary-strength p{
    font-size: 8px;
  }
  .Strength{
    width: 100px;
  }
  .word-features p, .Strength p{
    font-size: 7px;
  }
  textarea::placeholder{
    padding-top: 20px;
    font-size: 8px;
  }
  .position-div{
    padding: 5px;
    gap: 5px;
    width: 120px;
    top: 30%;
    left: 15%;
    right: 15%;
  }
  .position-div p{
    font-size: 8px;
  }
  #file-input{
    font-size: 8px;
    width: 60px;
    margin: 0 auto;
  }
  .third-layer{
    gap: 10px;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 8px;
  }
  .words button{
    margin-right: 10px;
    padding: 5px 8px;
    font-size: 8px;
  }
  .icons{
    height: 12px;
    width: 12px;
  }
  .icon-container{
    width: 250px;
  }
  footer{
    height: 250px;
  }
  .footer-container{
    padding: 0px 15px;
    justify-content: space-evenly;
  }
  .logo-container{
    margin-top: 0px;
    width: 150px;
    font-size: 8px;
  }
  .quicklink-container a{
    font-size: 8px;
  }
  .details-container h4{
    font-size: 8px;
  }
  .contactus-container img{
    height: 11px;
    width: 11px;
  }
  .copyright{
    font-size: 8px;
  }
}